[submodule "ui/ordermanagement"]
	path = ui/ordermanagement
	url = https://github.com/Sivarani15/ordermanagementui.git
[submodule "api/ordermanagement"]
	path = api/ordermanagement
	url = https://github.com/Sivarani15/ordermanagementservice.git
